{% extends 'layout.html' %} 
{% block title %}登录-MySpace{% endblock %}
{% block css %}
<style>

</style>
{% endblock %} 
{% block js %} 
<script>
	var returnUrl='';
	var matchs=location.href.match(/returnUrl=([^=?&]+)/);
	if(matchs){
		returnUrl=matchs[1];
	}
	$('#login').on('click',async event=>{
		let email=$('#email').val().trim();
		let password=$('#password').val().trim();
		if(!email||!password){
			alert('值不能为空！');
			return;
		}
		try{
			let data= await $.post('/login',{email:email,password:password});
			if(data.status==0){
				location.href=returnUrl?returnUrl:'/';
			} else {
				alert(data.msg);
			}
			
		} catch(err){
			console.log(err)
			alert(err.responseText);
		}
	});
</script>
{% endblock %} 
{% block content %}
<div class="sign">
    <div class="main">
    	<ul>
    		<li><a class="active" href="javascript:;">登 录</a></li>
    		<li><a href="/signUp">注 册</a></li>
    	</ul>
    	<div class="input-control"><i class="fa fa-envelope"></i><input type="text" name="email" id="email" placeholder="邮箱"></div>
    	<div class="input-control"><i class="fa fa-lock"></i><input type="password" name="password" id="password" placeholder="密码"></div>
        <button class="sign-btn" id="login">登 录</button>
    </div>
</div>
{% endblock %}
