<header>
	<div class="panel">
		<div class="panel-inner">
			<a href="/">
				<img src="/img/avatar.jpg" alt="" class="avatar">
			</a>
			<a href="/">
				<h1 class="title">Jeff's World</h1>
			</a>
			<div class="panel-content">
			<hr class="devider-one">
			<h2 class="signature">It's my space , I write the thing where interesting</h2>
			<hr class="devider-two">
			<nav class="social-list">
				<ul>
					<li><a href="/" title="主页"><i class="fa fa-home fa-lg"></i></a></li>
					<li><a href="https://github.com/edwardzhong" title="github"><i class="fa fa-github fa-lg"></i></a></li>
					<li><a href="http://www.cnblogs.com/edwardloveyou/" title="博客园"><i class="fa fa-book fa-lg"></i></a></li>
				</ul>
			</nav>
			</div>
		</div>
	</div>
</header>